@headerColor:#93962f;
@buttonColor:#93962f;
@leftPanelColor:#212529;
@fontcolor:#000;

.navbar.header-bg {
  background-color: @headerColor !important ;
  
}

  .btn-primary{
    background-color: @buttonColor !important;
    border-color: @buttonColor !important;
  }

.dashboard-area-nav ul li a.active-selection{
  border-right: solid @headerColor 6px !important;
}

input:checked + .slider{
  background-color: @buttonColor !important;
}
.dashboard-area-nav {
  background-color:@leftPanelColor !important;
}

.dashboard-area .dashboard-area-content{
  color: @fontcolor !important;
}